# Environment variables
.env

# Virtual environment
venv/
*.venv

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Temporary files and directories (like the one your script creates)
tmp_baf/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

Base.csv
*.csv 
/Base.csv
